<p style="color: green"><%= notice %></p>

<h1>Blocks</h1>

<table id="blocks">
  <thead>
    <tr>
      <th>Height</th>
      <th>Time</th>
      <th>Transactions</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <% @blocks.each do |block| %>
      <tr>
        <td><%= block['height'] %></td>
        <td><%= block['time'] %></td>
        <td><%= block['nTx'] %></td>
        <td><%= block['size'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
